{{ define "main" }}
{{ partial "navbar.html" . }}
<div class="post-content">
    <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full mx-auto">
        {{ range .Pages }}
        <a href="{{ .Permalink }}">
            <div class="flex flex-col items-center place-content-center rounded-sm bg-light-black w-full p-6 hover:bg-accent-color transition ease-in">
                <h2 class="text-lg text-white m-0 font-normal">{{ .Title }}</h2>
                <p class="text-light-gray text-center">{{ .Description }}</p>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}