<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>RaphGL {{if .Post.Title}}| {{.Post.Title}}{{end}}</title>

		{{if .StylesCSS}}
    <style>
      {{.StylesCSS}}
    </style>
		{{end}}
	</head>
	<body>
		<navbar>
			<a href="/">
				<div class="username">RaphGL</div>
			<a/>
			<ul>
				<li><a href="https://github.com/RaphGL/">GitHub</a></li>
				<li><a href="https://codeberg.org/RaphGL/">Codeberg</a></li>
				<li><a href="https://gitlab.com/RaphGL/">Gitlab</a></li>
			</ul>
		</navbar>

		<main>
			{{.BodyHTML}}
		</main>

		<div class="footer-container">
			<footer>
				<div>©RaphGL {{.BuildYear}}</div>
				<div><a href="https://github.com/RaphGL/raphgl.github.io">Source Code</a></div>
			</footer>
		</div>
	</body>
</html>
