@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --bg: #212730; 
  --bg2: #363b44;
  --bg3: #63676e;
  --fg: #EEEEEE;
  --fg2: #9ECAD6;
  --radius: 6px;
}

body {
  font-family: "Merriweather", serif;
  background-color: var(--bg);
  color: var(--fg);

  font-size-adjust: ex-height: 0.5;
  box-sizing: border-box;

  @media (width >= 1024px) {
    font-size: 14pt;
  }

  @media (width < 1024px) {
    font-size: 12pt;
  }
}

hr {
  margin: 1em 2em;
  border: 2px solid var(--bg2);
  border-radius: 2px;
}

/* no idea how this works, I just adapted it to my website lol */
table { 
    margin: 1em auto;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
    min-width: 20em;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        border-collapse: separate;
        color: var(--fg2)
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    th, td {
        padding: 5px 4px 6px 4px; 
        vertical-align: top;
        border-left: 2px solid #ddd;    
    }

    td {
        border-top: 2px solid #ddd;    
        padding: 0.5em 1em;
    }

    thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
        border-radius: 4px 0 0 0;
    }

    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-style: bold;
  margin-top: 0.5em;  
  color: var(--fg2);
}

h1 {
  font-size: 2em;
}

h2 {
 font-size: 1.8em; 
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

li {
  list-style: "– " outside;
}

code {
  display: inline-block;
  background-color: var(--bg2);
  border: 1px solid var(--bg3);
  border-radius: var(--radius);
  padding: 0 0.2em;
  font-family: "JetBrains Mono", monospace;
  font-size: 11pt;
}

pre code {
  display: block;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto;
}

a {
  color: var(--fg2);
  text-decoration: underline;

  &:hover {
   color: var(--fg); 
  }
}

.content-split {
  display: flex;

  @media (width < 1024px) {
      flex-direction: column;
  }

  @media(width >= 1024px) {
    margin: 0 5vw; 
  }
}


navbar {
  display: flex;
  justify-items: center;
  align-items: center;

  /* desktop navbar */
  @media (width >= 1024px) {
    position: sticky;
    top: 20%;
    height: 100%;
    margin-right: 2em;
    flex-direction: column;

    img {
      width: 80px;
    }
  }

  /* mobile navbar */
  @media (width < 1024px) {
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;

    ul {
      display: flex;
      gap: 0.8em;
    }

    li {
      list-style: none;
    }

    img {
      display: none;
    }
  }

  .profile-pic {
    border-radius: 50%;
    height: auto;
  }

  .username {
    font-weight: bold;
    font-family: "JetBrains Mono";
    color: var(--fg);
    font-size: 1.2em;
    text-align: center;
  }
}

.post-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid var(--bg3);
  padding: 2em;
  margin: 1em;
  margin-bottom: 2em;

  #title {
    font-size: 2em;
  } 

  #date {
    font-size: 1em;
  }
}

.post-content {
  margin: 0 1em;
  margin-bottom: 1em;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin: 2em auto;
  width: 100%;

  .item {
    background-color: var(--bg2);
    padding: 0.5em 1.5em;
    border: 1px solid var(--bg3);
    border-radius: var(--radius);
    width: 95%;
    color: lightgrey;

    .title {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      @media (width < 1024px) {
        flex-direction: column;
        gap: 0;
      }
    }

    .metadata {
      display: flex;
      gap: 1em;
    }

    a {
      font-size: 1.1em;
      text-decoration: none;
      color: var(--fg);
      &:hover {
        color: var(--fg2);
      }
    }
  }

  .description {
    
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  color: var(--fg2);
  font-size: 1em;
  padding: 1em;
}
