@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --bg: #212730; 
  --bg2: #363b44;
  --bg3: #63676e;
  --fg: #EEEEEE;
  --fg2: #9ECAD6;
  --radius: 6px;
}

body {
  font-family: "TikTok Sans", sans-serif;
  background-color: var(--bg);
  color: var(--fg);

  font-size-adjust: ex-height: 0.5;
  box-sizing: border-box;

  font-size: 12pt;
}

hr {
  margin: 1em 0;
  border: 2px solid var(--bg2);
  border-radius: 2px;
}

/* no idea how this works, I just adapted it to my website lol */
table { 
    margin: 1em auto;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
    min-width: 20em;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        border-collapse: separate;
        color: var(--fg2)
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    th, td {
        padding: 5px 4px 6px 4px; 
        vertical-align: top;
        border-left: 2px solid #ddd;    
    }

    td {
        border-top: 2px solid #ddd;    
        padding: 0.5em 1em;
    }

    thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
        border-radius: 4px 0 0 0;
    }

    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-style: bold;
  margin: 0.5em 0;  
  text-indent: 0;
  color: var(--fg2);
}

h1 {
 font-size: 1.9em; 
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

li {
  list-style: "– " outside;
}

code {
  display: inline-block;
  background-color: var(--bg2);
  border-radius: var(--radius);
  padding: 0 0.2em;
  font-family: "JetBrains Mono", monospace;
  font-size: 11pt;
  text-indent: 0;
}

pre code {
  display: block;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto;
}

a {
  color: var(--fg2);
  text-decoration: underline;

  &:hover {
   color: var(--fg); 
  }
}

navbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;

  ul {
    display: flex;
    gap: 0.8em;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      transition: text-decoration ease-in;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .profile-pic {
    border-radius: 50%;
    height: auto;
  }

  .username {
    font-weight: bold;
    font-family: "JetBrains Mono";
    color: var(--fg);
    font-size: 1.2em;
    text-align: center;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .post-header-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--fg);
    background-color: var(--bg2);
    padding: 2em;
  }

  .post-header {
    max-width: 80ch;

    #title {
      font-weight: bold;
      font-size: 2em;
    } 

    #date {
      font-size: 1em;
    }
  }

  .post-content {
    padding: 1em;
    width: 100%;
    max-width: 80ch;
    margin: auto;
    margin-bottom: 1em;
    text-align: justify;
    text-wrap: pretty;
    hyphens: auto;
    hyphenate-limit-chars: 7;
    text-indent: 1em;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin: 2em auto;
  width: 100%;
  max-width: 800px;

  .item {
    background-color: var(--bg2);
    padding: 0.5em 1.5em;
    border-radius: var(--radius);
    width: 95%;
    color: lightgrey;

    .title {
      display: flex;
      font-weight: 500;
      justify-content: space-between;
      gap: 1em;
      @media (width < 1024px) {
        flex-direction: column;
        gap: 0;
      }
    }

    .metadata {
      display: flex;
      gap: 1em;
    }

    .description {
      margin: 0.25em auto;
    }

    a {
      font-size: 1.1em;
      text-decoration: none;
      color: var(--fg);
      &:hover {
        color: var(--fg2);
      }
    }
  }
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  color: var(--fg2);
  font-size: 1em;
  padding: 1em;
}
