@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --bg: #222831; 
  --bg2: #31363F;
  --fg: #EEEEEE;
  --fg2: #9ECAD6;
}

body {
  font-family: "Merriweather", serif;
  font-size: 14pt;
  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
  font-style: bold;
  margin-top: 0.5em;  
  color: var(--fg2);
}

h1 {
  font-size: 2.2em;
}

h2 {
 font-size: 2em; 
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

li {
  list-style: "– " outside;
}

code {
  display: inline-block;
  background-color: var(--bg2);
  border-radius: 6px;
  padding: 0 0.2em;
  font-family: "JetBrains Mono", monospace;
  font-size: 12pt;
}

pre code {
  display: block;
  padding: 1em;
  margin: 0.5em 0;
  overflow-x: auto;
}

a {
  color: var(--fg2);
  text-decoration: underline;

  &:hover {
   color: var(--fg); 
  }
}

.content-split {
  display: flex;

  @media (width < 810px) {
      flex-direction: column;
  }

  @media(width >= 810px) {
    margin: 0 5vw; 
  }
}


navbar {
    display: flex;
    justify-items: center;
    align-items: center;

  /* desktop navbar */
  @media (width >= 810px) {
    position: sticky;
    top: 20%;
    height: 100%;
    margin-right: 2em;
    flex-direction: column;

    img {
      width: 80px;
    }
  }

  /* mobile navbar */
  @media (width < 810px) {
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;

    ul {
      display: flex;
      gap: 0.8em;
    }

    li {
      list-style: none;
    }

    img {
      display: none;
    }
  }

  .profile-pic {
    border-radius: 50%;
    height: auto;
  }

  .username {
    font-weight: bold;
    font-family: "JetBrains Mono";
    color: var(--fg);
    font-size: 1.2em;
    text-align: center;
  }
}

.post-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;

  #title {
    font-size: 2em;
  } 

  #date {
    font-size: 1em;
  }
}

.post-content {
  margin: 0 1em;
  margin-bottom: 1em;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin: 2em auto;
  width: 100%;

  .item {
    background-color: var(--bg2);
    padding: 0.5em 1.5em;
    border-radius: 10px;
    width: 95%;
    color: lightgrey;

    .title {
      display: flex;
      justify-content: space-between;
    }

    a {
      font-size: 1.1em;
      text-decoration: none;
      color: var(--fg);
      &:hover {
        color: var(--fg2);
      }
    }
  }

  .description {
    
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  color: var(--fg2);
  font-size: 1em;
  padding: 1em;
}
