{{ define "main" }}
<div class="min-h-screen bg-gradient-to-br from-blacker to-black">
  <div class="flex h-screen w-screen items-center place-content-center">
    <div class="flex flex-col items-center gap-5">
      <img
        src="/profilepic.jpg"
        alt="profile picture"
        class="rounded-full w-4/5"
      />
      <h2 class="text-4xl font-bold">Hi, I'm RaphGL!</h2>
      <div class="flex flex-row gap-2">
        <img src="/icons/github.svg" />
        <img src="/icons/gitlab.svg" />
        <img src="/icons/discord.svg" />
      </div>
    </div>
  </div>
</div>

{{ partial "navbar.html" .}}
{{ partial "about_me.html" . }}
{{ end }}
