{{ define "main"}}
{{ partial "navbar.html" . }}
<div class="m-10">
{{ range .Pages }}
<a href="{{ .Permalink }}">
    <div class="flex flex-col items-center post-content rounded-lg bg-light-black hover:bg-accent-color transition ease-in">
        <div class="p-4 flex flex-col md:flex-row items-center place-content-center justify-between w-5/6">
            <span>{{ .Title }}</span>
            <span class="text-light-gray">{{ .PublishDate.Format "2 Jan 2006" }}</span>
        </div>
    </div>
</a>
{{ end }}
</div>
{{ end }}