{{ define "main"}} {{ partial "navbar.html" .}}
<div
  class="bg-gray mb-8 p-4 py-6 h-fit flex flex-col text-center place-content-center items-center"
>
  <h2 class="text-3xl text-white m-4">{{ .Title }}</h2>
  <ul class="flex flex-row gap-2 m-1">
    {{ range (.GetTerms "tags") }}
    <li class="post-tag hover:bg-dark-gray">
      <a href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    </li>
    {{end }}
  </ul>
  <h4 class="text-light-gray">{{ .Date.Format "January 2, 2006" }}</h4>
</div>

<div class="post-content text-justify">{{ .Content }}</div>
{{ end }}
