{{ define "main"}} {{ partial "navbar.html" . }}
<div
  class="bg-gray mb-8 p-4 py-6 h-fit flex flex-col text-center place-content-center items-center"
>
  <h2 class="text-3xl text-white m-4">
    Tag: <span class="text-blue">{{ .Title }}</span>
  </h2>
</div>
<div class="m-10 grid sm:grid-cols-2 lg:m-40 lg:my-0 gap-4">
  {{ range .Data.Pages }}
  <a href="{{ .RelPermalink }}">
    <div
      class="flex flex-col min:h-72 place-content-center bg-gray hover:bg-accent-color p-8 rounded-lg transition hover:ease-in"
    >
      <h2>{{ .Title }}</h2>
      <p class="container">{{ .Summary }}</p>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
