<div class="m-4">
  <h1 id="about-me" class="text-blue">About Me</h1>
  <div class="post-content text-justify">
    <p>
      Hi, I'm Raph. I'm a developer interested in making software that's useful
      to me and to others. Currently I'm learning and using: Go, Rust, C, Python
      and TypeScript. I'm also very interested in learning more web development
      and low level system's development. (Keeping my eye on embedded for
      later).
    </p>
    <p>
      I started programming back in 2017, I first just switched to linux and
      over time I started scripting things and making tiny utilities for myself.
      Eventually I went deeper and deeper into it and ended up loving it. Tiling
      window manager may have been the culprit in making me want to do more
      scripting and programming in general so I could create my own tools and
      solutions to my problems :P
    </p>
    <br />
    <p>
      Aside from programming, I'm also interested in learning more maths and
      electronics (and struggle doing so lol). On my free time I also play
      piano, dabble in a tiny bit in design and content creation and learn
      (human and computer) languages I'll probably never get to use!
    </p>
  </div>
</div>
