<h1 id="about-me" class="text-blue">About Me</h1>
<div class="post-content text-justify">
  <p>
    Hi, I'm Raph. I'm a developer interested in making software that's useful to
    me and others.
  </p>
  <p>
    I started programming back in 2017, when I had just switched to linux and
    over time I started scripting things and making tiny utilities for myself.
  </p>

  Where you can find me:
  <p>
    <ul>
      <li><a href="https://github.com/RaphGL/">Github</a></li>
      <li><a href="https://codeberg.org/RaphGL/">Codeberg</a></li>
      <li><a href="https://gitlab.com/RaphGL/">Gitlab</a></li>
    </ul>
  </p>
</div>
