<h1 id="about-me" class="text-blue">About Me</h1>
<div class="post-content text-justify">
  <p>
    Hi, I'm Raph. I'm a developer interested in making software that's useful to
    me and to others. I'm very interested in learning more web development and
    low level system programming. (Keeping my eye on embedded for later).
  </p>
  <p>
    I started programming back in 2017, when I had just switched to linux and
    over time I started scripting things and making tiny utilities for myself.
    Eventually I went deeper and deeper into it and ended up loving it.
  </p>

  <h2>Tech Stack</h2>
  <p>
    I use mostly Go, C, Rust, Python and TypeScript and am still constantly
    learning more about them. I'm kinda really into using very efficient
    programs, so I want to be able to do efficient software myself. You can find
    me and see what I'm up to lately on github or the other links on the top of
    the page.
  </p>

  <h2>Other hobbies</h2>
  <p>
    Aside from programming, I'm also interested in learning more maths and
    electronics (and struggle doing so lol). On my free time I also play piano,
    dabble in a tiny bit in design and content creation and learn (human and
    computer) languages I'll probably never get to use!
  </p>
</div>
