{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <center>
      <img src="https://avatars.githubusercontent.com/u/28673457?v=4" style="border-radius:50%;width:12em;" />
    </center>
  </section>

  <article>
    <p>
      Hi there, I'm RaphGL. I'm a hobbyist developer working on some side projects.
      I mostly work on Go, C and Rust. Sometimes I do JavaScript or Python or whatever I'm experimenting with at the
      time.
    </p>

    <p>
      You can find me on:
      <a class="contrast" href="https://github.com/RaphGL">GitHub</a>,
      <a class="contrast" href="https://codeberg.org/RaphGL">Codeberg</a>,
      <a class="contrast" href="https://gitlab.com/RaphGL">Gitlab</a>
    </p>
  </article>
</div>
{% endblock content %}