@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
	--bg-color: #141519;
	--fg-color: #ffffff;
	--hover-color: #506eff;
	--radius-size: 0.5em;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 17pt;
}

::selection {
	background-color: var(--hover-color);
	color: var(--fg-color);
}

body {
	all: unset;
	background: rgb(20, 21, 25);
	background: radial-gradient(circle, rgba(20, 21, 25, 1) 0%, rgba(16, 17, 20, 1) 100%);
	background-attachment: fixed;
	color: var(--fg-color);
}
